* {
    margin: 0;
    padding: 0;
}
body {
    background: url("bg.png") repeat;
    font-size: 14px;
    text-align: center;
}
h1 {
    background: url("title_bg.gif") repeat;
    font-size: 20px;
    color: white;
    padding: 20px;
}
h2 {
    color: crimson;
    margin: 30px;
}
h3 {
    color: steelblue;
    margin: 15px;
}
li {
    margin: 12px;
    cursor: pointer;
}
ul {
    list-style-type: disc;
}